{% extends "base.html" %}

{% block cuerpo %}

{% load static %}
<div class="row"> <!--la fila-->

    <div class="col sm-12 col-md-4 col-lg-4 col-xl-4"> <!--Columna izquierda--> 
        <h1>provedores</h1>
        <div class="card"> <!--la tarjeta-->
            <div class="card-body">
                <form action="registrarProvedor/" method="POST"> {% csrf_token %} <!--falta accion-->
                    <div class="form-growup">
                        <input type="text" id="numid_provedor" class="form-control" name="numid_provedor" placeholder="id" minlength="1" maxlength="6" required>
                    </div>

                    <div class="form-growup py-3">
                        <input type="text" id="txtnombre" class="form-control" name="txtnombre" placeholder="nombre" maxlength="100" required>
                    </div>

                    <div class="form-growup py-3">
                        <input type="text" id="txtdireccion" class="form-control" name="txtdireccion" placeholder="direccion" maxlength="100" required>
                    </div>

                    <div class="form-growup py-3">
                        <input type="text" id="txttelefono" class="form-control" name="txttelefono" placeholder="telefono" maxlength="100" required>
                    </div>

                    <div class="form-growup py-3">
                        <input type="text" id="txtcorreo" class="form-control" name="txtcorreo" placeholder="correo" maxlength="100" required>
                    </div>

                    <div class="form-growup py-3">
                        <input type="text" id="txttipo_entrega" class="form-control" name="txttipo_entrega" placeholder="tipo de entrega" maxlength="100" required>
                    </div>

                    <div class="form-growup py-2">
                        <input type="date" id="txtdia_entrega" class="form-control" name="txtdia_entrega" placeholder="dia de entrega" min="1" max="9" required>
                    </div>

                    <div class="form-growup py-1">
                        <button type="submit" class="btn btn-dark">Guardar provedor</button>
                    </div>
                </form>
            </div>
        </div>
    </div> <!--Columna izquierda--> 

<div class="col"> <!--Columna derecha-->
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <h1>Listado de provedor</h1>
        <img class="w-50" src="{% static "img/proveedor.jpg" %}" alt="">
        <!--la tabla-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">id_provedor</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">direccion</th>
                    <th scope="col">telefono</th>
                    <th scope="col">correo</th>
                    <th scope="col">tipo de entrega</th>
                    <th scope="col">dia de entrega</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>

            {% for m in misprovedor %}
            
            <tr>
                <td> {{m.id_provedor}} </td>
                <td> {{m.nombre}} </td>
                <td> {{m.direccion}} </td>
                <td> {{m.telefono}} </td>
                <td> {{m.correo}} </td>
                <td> {{m.tipo_entrega}} </td>
                <td> {{m.dia_entrega}} </td>
                <td> <a href="seleccionarProvedor/{{m.id_provedor}}" class="btn btn-info" >Editar</a></td>  <!--falta-->
                <td> <a href="borrarProvedor/{{m.id_provedor}}" class="btn btn-danger">Borrar</a></td> <!--falta-->
            </tr>    
            
            {% endfor %}

        </tbody>
        </table>

    </div>

</div> <!--Columna derecha-->

</div> <!--la fila-->
{% endblock %}