{% extends "base.html" %}

{% block cuerpo %}
<div class="row"> <!--fila en editar-->
    <div class="col-md-4 offset-md-4">
        <h2>Editar ingrediente</h2>

        <!--Aqui codigo tarjeta-->
        <div class="card"> <!--la tarjeta-->
            <div class="card-body">
                <form action="/editarIngrediente/" method="POST"> {% csrf_token %} <!--falta accion-->

                    <div class="form-growup">
                        <input type="text" id="numid_ingrediente" class="form-control" name="numid_ingrediente" value="{{misingrediente.id_ingrediente}}" minlength="1" maxlength="6" required>
                    </div>

                    <div class="form-growup py-3">
                        <input type="text" id="txtid_provedor" class="form-control" name="txtid_provedor" value="{{misingrediente.id_provedor}}" maxlength="100" required>
                    </div>

                    <div class="form-growup py-3">
                        <input type="text" id="txtid_producto" class="form-control" name="txtid_producto" value="{{misingrediente.id_producto}}" maxlength="100" required>
                    </div>

                    <div class="form-growup py-3">
                        <input type="text" id="txttipo_carne" class="form-control" name="txttipo_carne" value="{{misingrediente.tipo_carne}}" maxlength="100" required>
                    </div>

                    <div class="form-growup py-3">
                        <input type="text" id="txtid_categoria" class="form-control" name="txtid_categoria" value="{{misingrediente.id_categoria}}" maxlength="100" required>
                    </div>
                    <div class="form-growup py-1">
                        <button type="submit" class="btn btn-dark">Guardar ingrediente</button>
                    </div>
                </form>
            </div>
        </div>
        <!--Aqui codigo tarjeta-->
    </div>
</div> <!--fila en editar-->


{% endblock %}